<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jboard.prototipo">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_prototipo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListaActivity"
            android:parentActivityName=".VacanteActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VacanteActivity" />
        </activity>
        />
        <activity
            android:name=".DetalleActivity"
            android:parentActivityName=".ListaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListaActivity" />
        </activity>
        <activity android:name=".InformativoActivity" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".PerfilActivity" />
        <activity android:name=".CamaraActivity" />
        <activity android:name=".RegistroActivity" />
        <activity
            android:name=".VacanteActivity"
            android:parentActivityName=".AutenticaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AutenticaActivity" />
        </activity>
        <activity
            android:name=".DescripcionActivity"
            android:parentActivityName=".VacanteActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VacanteActivity" />
        </activity>
        <activity android:name=".AutenticaActivity" />
        <activity android:name=".CreaActivity" />
        <activity android:name=".ConsultaregistroActivity"></activity>
    </application>


</manifest>